body {
    background: gray;
}

section {
    aspect-ratio: 4 / 3;
    background: #fff;
    display: grid;
    place-content: center;
    background: linear-gradient(to bottom, var(--top-color), var(--bottom-color));
}

h1 {
    color: purple;
    font-size: 50px;
    padding-left: 1em;
    font-family: 'Kosugi Maru', sans-serif;
}
  
h1::before {
    content: '';
    margin-left: -1em;
}

:root {
    --top-color: rgb(94% 51% 64%);
    --bottom-color: rgb(95% 95% 50%);
}